body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.song {
    text-align: center;
}

.title {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
}

h1 {
    background-color: #FF2C00;
    font-weight: 800;
    padding: 10px 0;
    margin: 0;
}

p {
    margin-block-start: 0;
    padding-top: 100px;
}

h1:after {
    content: '';
    display: block;
    width: 40%;
    border: 2px solid black;
    margin: 0 auto;
}

span {
    font-weight: 700;
}

.lyrics {
    background-color: #E84927;
}